/* Cards */

.course-section{
    margin: 0;
    padding: 0;
    height: calc(100vh - 99px); /*hey*/
    background-color: var(--cards-background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: consolas;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .course-cards-container{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
  }
  
  .course-cards-container .card-element{
    position: relative;
  }
  
  .course-cards-container .card-element .card{
    width: 300px;
    height: 234px;
    transition: 0.5s;
    pointer-events: auto;
  }
  
  .course-cards-container .card-element .card.front-card{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(117px);
    
  }

/* .course-cards-container .card-element{
  pointer-events: auto;
} */

.card-section-bg-1 {
  background-color: var(--first-year-color);
}
.card-section-bg-2 {
  background-color: var(--second-year-color);
}
.card-section-bg-3 {
  background-color: var(--third-year-color);
}
.card-section-bg-4 {
  background-color: var(--fourth-year-color);
}
.card-section-bg-5 {
  background-color: var(--fifth-year-color);
}

.course-cards-container .card-element:first-child:hover .card.front-card{
  background-color: var(--first-year-color);
  transform: translateY(0);
  
}

.course-cards-container .card-element:nth-child(2):hover .card.front-card{
    background-color: var(--second-year-color);
    transform: translateY(0);

}
.course-cards-container .card-element:nth-child(3):hover .card.front-card{
    background-color: var(--third-year-color);
    transform: translateY(0);

}
.course-cards-container .card-element:nth-child(4):hover .card.front-card{
  background-color: var(--fourth-year-color);
  transform: translateY(0);

}
.course-cards-container .card-element:nth-child(5):hover .card.front-card{
  background-color: var(--fifth-year-color);
  transform: translateY(0);

}

  

/*   
  .course-cards-container .card-element:hover .card.front-card{
    background: #8BC24A;
    transform: translateY(0);
  } */
  
  .course-cards-container .card-element .card.front-card .contenido{
    opacity: 0.4;
    transition: 0.5s;
  }
  
  .course-cards-container .card-element:hover .card.front-card .contenido{
    opacity: 1;
  }
  
  .course-cards-container .card-element .card.front-card .contenido p{
    text-align: center;
    font-size: 4.5rem;
  }
  
  .course-cards-container .card-element .card.front-card .contenido h3{
    margin: 10px 0 0;
    padding: 0;
    color:#fff;
    text-align: center;
    font-size: 2rem;
  }
  
  .course-cards-container .card-element .card.back-card{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-117px);
  }
  
  .course-cards-container .card-element:hover .cara.back-card{
    transform: translateY(0);
  }
  
  .course-cards-container .card-element .cara.back-card .contenido p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .course-cards-container .card-element .cara.back-card .contenido a{
    margin: 25px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    font-size: 1.4rem;
  }
  
  .course-cards-container .card-element .cara.back-card .contenido a:hover{
    background: #333;
    color: #fff;
  }
  
  /* 4-5 años */
  
  /* .cartas2{
    margin: 0;
    padding: 0;
    height: calc(100vh - 99px); 
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
  } */
  
  /* .contenedorcartas2{
    width: 900px;
    position: relative;
    display: flex;
    justify-content: space-between;
  } */
  
  /* .contenedorcartas2 .card-element{
    position: relative;
  }
  
  .contenedorcartas2 .card-element .cara{
    width: 350px;
    height: 234px;
    transition: 0.5s;
  }
  
  .contenedorcartas2 .card-element .cara.front-card{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(117px);
  }
  
  .contenedorcartas2 .card-element:hover .cara.front-card{
    background: #FEB92D;
    transform: translateY(0);
  }
  
  .contenedorcartas2 .card-element:hover .cara.front-card{
    background: #438AFE;
    transform: translateY(0);
  }
  
  .contenedorcartas2 .card-element .cara.front-card .contenido{
    opacity: 0.4;
    transition: 0.5s;
  }
  
  .contenedorcartas2 .card-element:hover .cara.front-card .contenido{
    opacity: 1;
  }
  
  .contenedorcartas2 .card-element .cara.front-card .contenido p{
    text-align: center;
    font-size: 4.5rem;
  }
  
  .contenedorcartas2 .card-element .cara.front-card .contenido h3{
    margin: 10px 0 0;
    padding: 0;
    color:#fff;
    text-align: center;
    font-size: 2rem;
  }
  
  .contenedorcartas2 .card-element .cara.back-card{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-117px);
  }
  
  .contenedorcartas2 .card-element:hover .cara.back-card{
    transform: translateY(0);
  }
  
  .contenedorcartas2 .card-element .cara.back-card .contenido p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .contenedorcartas2 .card-element .cara.back-card .contenido a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    font-size: 1.4rem;
  }
  
  .contenedorcartas2 .card-element .cara.back-card .contenido a:hover{
    background: #333;
    color: #fff;
  }
    */