.mision-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10px;
    width: 100%;
    min-height: calc(100vh - 80px);
    background-image: url('../imgs/mision.jpg');
    /* background-color: rgba(0,0,0,0.8); */
    background-color: var(--almostDarkBlue);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-size: cover;
    overflow: hidden;
}

.mision-text{
    display: flex;
    flex-direction: column;
    color: var(--primary-color)
}

.mision-text h1 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}
  
.mision-text h2 {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}


@media (max-width: 768px){
    .mision-section{
        padding: 30px 10px 20px 10px;
    }

    .mision-text h1 {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 44px;
    }

    .mision-text h2 {
        margin-left: 35px;
        margin-right: 35px;
        font-size: 21px;
    }
}