
  section{
    position: relative;
    min-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #3b93f7;
  }
  
  header ul{
    position: relative;
    display: flex;
    margin: 0;
    z-index: 500;
  }
  
  header ul li{
    list-style: none;
  }
  
  header ul li a{
    display: inline-block;
    color: #0169b2;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
  }
  
  header ul li a:link, header ul li a:visited{
    color: #fff;
    background-color: #3b93f7;
  }
  
  header ul li a.active, header ul li a:hover{
    background: #fff;
    color: #3b93f7;
    border-radius: 6px;
  }

  #menudesplegable{
    color: white;
    font-size: 30px;
    line-height: 20px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    header ul li a{
      font-size: 1.07em;
      padding: 6px 14px;
      margin-left: 5px;
    }

    header{
      padding: 30px 40px 30px 40px;
    }
  }

  @media (max-width: 768px) {
    header ul{
      display: none;
      position: fixed;
      width: 100%;
      background: #2f3640;
      top: -100%;
      left: 0;
      padding-left: 0px;
      text-align: center;
      transition: all linear .7s;
    }

    header ul.show{
      top: 115px;
      display: block;
    }

    header ul li{
      display: block;
      padding: 10px 0;
      line-height: 30px;
      border-bottom: solid;
      border-color: white;
      border-width: 1px;
    }

    header ul li.li5to{
      border-width: 0px;
    }

    header ul li a{
      font-size: 20px;
      margin-left: 0px;
      
    }

    header ul li a.active, header ul li a:hover{
      color: #3b93f7;
      border: none;
      background: none;
    }

    header ul li a:link, header ul li a:visited{
      background-color: #2f3640;
    }

    header{
      padding: 30px 15px 30px 15px;
    }

    #menudesplegable{
      float: right;
      display: inline;
      margin-right: 30px;
    }

    header img {
      position: relative;
      left: 28px;
      display: block; 
      margin: auto;
    }
  }