@import 'globals.css';

*{
  box-sizing: border-box;
}

  section{
    position: relative;
    min-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: var(--navbar-color);
    
    -webkit-box-shadow: 1px 15px 10px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 15px 10px 0 rgba(0,0,0,0.1);
  }
  
  header img{
    margin-left: 5px;
  }

  header ul{
    position: relative;
    display: flex;
    margin: 0;
    z-index: 500;
  }
  
  header ul li{
    list-style: none;
  }
  
  header ul li a{
    display: inline-block;
    /* color: #0169b2; */
    color: var(--button-color);
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    border-radius: 6px;

  }
  
  header ul li a:link, header ul li a:visited{
    color: #fff;
    /* background-color: #3b93f7; */
    background-color: var(--button-color);
  }
  
  header ul li a.active, header ul li a:hover{
    background: #fff;
    color: #000000;
    border-radius: 6px;
  }

  #menudesplegable{
    color: white;
    font-size: 30px;
    line-height: 20px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  

  .fixed-header{
    width: 100%;
    background-color: var(--dark-pink);
    height: 20px;
  }
  

  /* Lo que estaba aquí se pasó a intro.css */


  

/* new cards */

/* 1-2-3 años */

/* .cartas{
  margin: 0;
  padding: 0;
  height: calc(100vh - 99px); 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: consolas;
  transition: 0.5s;

}

.contenedorcartas{
  width: 1200px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contenedorcartas .cardelement{
  position: relative;
}

.contenedorcartas .cardelement .cara{
  width: 350px;
  height: 234px;
  transition: 0.5s;
}

.contenedorcartas .cardelement .cara.cara1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(117px);
  
}

.contenedorcartas .cardelement:hover .cara.cara1.ano1{
  background: var(--first-year-color);
  transform: translateY(0);

}

.contenedorcartas .cardelement:hover .cara.cara1.ano2{
  background: var(--second-year-color);
  transform: translateY(0);
}

.ano2:hover ~ .cartas{
  background: #ff0 !important;
}

.contenedorcartas .cardelement:hover .cara.cara1.ano3{
  background: #8BC24A;
  transform: translateY(0);
}

.contenedorcartas .cardelement .cara.cara1 .contenido{
  opacity: 0.4;
  transition: 0.5s;
}

.contenedorcartas .cardelement:hover .cara.cara1 .contenido{
  opacity: 1;
}

.contenedorcartas .cardelement .cara.cara1 .contenido p{
  text-align: center;
  font-size: 4.5rem;
}

.contenedorcartas .cardelement .cara.cara1 .contenido h3{
  margin: 10px 0 0;
  padding: 0;
  color:#fff;
  text-align: center;
  font-size: 2rem;
}

.contenedorcartas .cardelement .cara.cara2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-117px);
}

.contenedorcartas .cardelement:hover .cara.cara2{
  transform: translateY(0);
}

.contenedorcartas .cardelement .cara.cara2 .contenido p{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.contenedorcartas .cardelement .cara.cara2 .contenido a{
  margin: 25px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  font-size: 1.4rem;
}

.contenedorcartas .cardelement .cara.cara2 .contenido a:hover{
  background: #333;
  color: #fff;
}

/* 4-5 años */

.cartas2{
  margin: 0;
  padding: 0;
  height: calc(100vh - 99px); /*hey*/
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

.contenedorcartas2{
  width: 900px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contenedorcartas2 .cardelement{
  position: relative;
}

.contenedorcartas2 .cardelement .cara{
  width: 350px;
  height: 234px;
  transition: 0.5s;
}

.contenedorcartas2 .cardelement .cara.cara1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(117px);
}

.contenedorcartas2 .cardelement:hover .cara.cara1.ano4{
  background: #FEB92D;
  transform: translateY(0);
}

.contenedorcartas2 .cardelement:hover .cara.cara1.ano5{
  background: #438AFE;
  transform: translateY(0);
}

.contenedorcartas2 .cardelement .cara.cara1 .contenido{
  opacity: 0.4;
  transition: 0.5s;
}

.contenedorcartas2 .cardelement:hover .cara.cara1 .contenido{
  opacity: 1;
}

.contenedorcartas2 .cardelement .cara.cara1 .contenido p{
  text-align: center;
  font-size: 4.5rem;
}

.contenedorcartas2 .cardelement .cara.cara1 .contenido h3{
  margin: 10px 0 0;
  padding: 0;
  color:#fff;
  text-align: center;
  font-size: 2rem;
}

.contenedorcartas2 .cardelement .cara.cara2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-117px);
}

.contenedorcartas2 .cardelement:hover .cara.cara2{
  transform: translateY(0);
}

.contenedorcartas2 .cardelement .cara.cara2 .contenido p{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.contenedorcartas2 .cardelement .cara.cara2 .contenido a{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  font-size: 1.4rem;
}

.contenedorcartas2 .cardelement .cara.cara2 .contenido a:hover{
  background: #333;
  color: #fff;
} 

@media (min-width: 768px) and (max-width: 991px) {
  header ul li a{
    font-size: 1.07em;
    padding: 6px 14px;
    margin-left: 5px;
  }

  header{
    padding: 20px 40px 20px 40px;
  }
}

@media (max-width: 768px) {
  header ul{
    display: none;
    position: fixed;
    width: 100%;
    background: var(--navbar-color);
    top: -100%;
    left: 0;
    padding-left: 0px;
    text-align: center;
    transition: all linear .7s;
  }

  header ul.show{
    top: 115px;
    display: block;
  }

  header ul li{
    display: block;
    padding: 10px 0 0 0;
    line-height: 30px;
    
  }

  header ul li.li5to{
    border-width: 0px;
    padding: 10px 0;
  }

  header ul li a{
    font-size: 20px;
    margin-left: 0px;
  }

  header ul li div{
    position: relative;
    padding: 0 0 10px 0;
    width: 90%;
    border-bottom: solid;
    border-color: rgb(160, 160, 160);
    border-width: 1px;
    margin: auto;
  }

  header ul li a.active, header ul li a:hover{
    color: white;
    border: none;
    background: none;
  }

  header ul li a:link, header ul li a:visited{
  }

  header{
    padding: 30px 15px 30px 15px;
  }

  #menudesplegable{
    float: right;
    display: inline;
    margin-right: 30px;
  }

  header img {
    position: relative;
    left: 28px;
    display: block; 
    margin: auto;
  }

  
}

