*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}

.u-wrapper, .u-wrapper_A, .u-wrapper_B {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto!important;
    max-width: 1200px;
    padding: 0 2rem;
    position: relative;
}
.VideoPlayer_Main {
    display: grid;
    grid-template-columns: 5fr 4.5fr;
    grid-gap: 24px;
    padding: 2rem 0;
}
.video-content{
    
    height: auto;
}
@media screen and (max-width: 870px){
    
    .VideoPlayer_Main {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        padding: 1em 0em;
        padding-bottom: 1rem;
        grid-gap: 1.25rem;
        
    }
    .InfinityScrollLayout{
        grid-row: 2;
        overflow-y: visible;
    }
    body{
        overflow-y: auto;
    }
    .ClassList_Title{
        margin-bottom: 10px;
    }
}
.video{
    height: 25em;
    width: 100%;

}
.video iframe {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
.video hr{
    border-top: 1px solid #e1e1e1;
    border-bottom: 0px;
}
.class_title{
    margin: .5rem 0;
    color: #223354;
}
@media screen and (max-width: 870px){
    .ClassList_Title{
        margin-bottom: 0px;
        font-size: x-large;
        color: #223354;
    }
    .class_title{
        margin: .8rem 0;
        color: #223354;
    }
    
}

.class_description{
    font-size: 1rem;
    color: #5c6b85;
    text-align: justify;
    padding-top: .7rem;
    padding-right: 1rem;
}

/*Classes List.*/
.ClassList{
    
}
.ClassList_Title{
    margin-bottom: 10px;
}
.CentralFeed {
    grid-gap: 12px;
    display: grid;
    padding: 1rem 0;
    position: relative;
}

@media screen and (min-width: 871px){
    .InfinityScrollLayout{
        overflow-y: scroll;
        height: calc(80vh - 0px);
        padding-right: 20px;
    }
    
}
@media only screen and (min-width: 64em)
.BaseCard {
    min-height: 175px;
}
.BaseCard {
    background: #fff;
    border-radius: .5rem;
    -webkit-box-shadow: 1px 2px 4px 0 rgb(21 99 157 / 16%);
    box-shadow: 1px 2px 4px 0 rgb(21 99 157 / 16%);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    -ms-transition: all .15s ease;
    transition: all .15s ease;
    width: 100%;
}
.BlogPost {
    padding: 0rem;
    height: 120px;
}
.BlogPost-anchor {
    text-decoration: none;
}

.BlogPost-detail{
    padding: 0.5rem 0.8rem;
}
.BlogPost-top {
    grid-gap: 0;
    display: grid;
    grid-template-columns: 10rem 1fr;
}


.BlogPost-figure {
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    height: 120px;
    width: 10rem;
    overflow: hidden;
}
@media screen and (max-width: 870px){
    .BlogPost-top {
        grid-gap: 0;
        display: grid;
        grid-template-columns: 10rem 1fr;
    }
    .BlogPost-figure {
        background-position: 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        border-radius: 5px;
        height: 120px;
        width: 10rem;
        overflow: hidden;
    }
}

.BlogPost-detail-title {
    color: #223354;
    width: inherit;
    font-weight: 700;
    line-height: 1.38;
    font-size: medium;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
p{
    text-overflow: clip;
}
.BlogPost-detail-text{
    width: inherit;
    color: #5c6b85;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    margin: 0;
    font-size: small;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;


}