{% macro class_card(title, subtitle, img_link, id) %}
<a href="/clase/{{id}}">
  <div class="class-item">
    <div class="class-content">
      <div class="class-img" style="background-image: url({{img_link}}); background-size: cover; background-repeat: no-repeat; background-position: center;" >
        <!-- <img src={{img_link}} alt=""> -->
      </div>
      <div class="class-info">
        <div class="class-title">
          <!-- Vectores, escalares y matrices, parte #1 -->
          <h3>{{title}}</h3>
        </div>
        <div class="class-description">
          <p>{{subtitle}}</p>
        </div>
      </div>

    </div>
  </div>
</a>
{% endmacro %}
