{% from "course_macros.html" import course_content with context %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/curso/styles.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <title>{{course["title"]}}</title>
</head>
<body>
  <section>
    <header>
      <a href="#" class="logo">Logo</a>
      <ul class="navigation">
          <li>
          <a href="/">Inicio</a>
          </li>
          <li>
          <a href="#">1er Año</a>
          </li>
          <li>
          <a href="#">2do Año</a>
          </li>
          <li>
          <a href="#">3er Año</a>
          </li>
          <li>
          <a href="#">4to Año</a>
          </li>
          <li>
          <a class="active" href="#">5to Año</a>
          </li>
      </ul>
    </header>
  </section>

  <div class="u-wrapper">
    <h1 class="course-title">{{course["title"]}}</h1>    
    <p class="course-description">{{course.description}}</p>
    <div class="StudentsHome">

      <div class="InfinityScrollLayout" style="top: 0px;">
        <div class="CentralFeed">            
            {% for class in course["content"] %}
              {{ course_content(class.title, 
                  class.description,
                  class.id,
                  class.img_url,
                  class.type == "guide",
                  class.url
                  ) 
              }}
            {% endfor %}
            
        </div>
      </div>
      
      <div class="Video-promoted">
        <video width="100%" controls autoplay="autoplay" loop muted>
          <source src="/static/videos/video.mp4" type="video/mp4"></source>
        </video>
        <h1 class="Video-promoted-title">Ecuaciones de segundo grado.</h1>
        <p class="Video-promoted-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque asperiores quos consequuntur? Praesentium molestiae quasi perferendis inventore accusamus rem consectetur at dolore deserunt debitis laborum architecto, officiis placeat dolores. Ea.
        </p>
        <a href="clase/1"><button class="video-button">VER VIDEO</button></a>
      </div>

    </div>
  </div>

</body>

</html>

