{% macro course_content(title, subtitle, id, img_link, paper, paper_link) %}

{% if paper %}
<article class="base-card">
    <div class="guide-item">
      <a class="BlogPost-anchor" href={{paper_link}} target="_blank" download>
        
        <div class="guide-item-grid">
          <div class="guide-item-figure" style="background-image: url({{img_link}});"></div>
          <div class="guide-item-detail">
            <h4 class="guide-item-detail-title">{{title}}</h4>
          </div>
        
        </div>
      </a>
  </div>
  </article>
{% else %}
<article class="base-card">
  <div class="class-item">
    <a class="class-item-anchor" href="../../clase/{{id}}" target="_blank">
      <div class="class-item-grid">
        <div class="class-item-figure" style="background-image: url({{img_link}});"></div>
        <div class="class-item-detail">
          <h3 class="class-item-detail-title">{{title}}</h3>
          <p class="class-item-detail-text">
              {{subtitle}}
          </p>
        </div>
      </div>
    </a>
  </div>
</article>
{% endif %}
{% endmacro %}