{% from "course_macros.html" import course_content with context %}
{% from "course_macros.html" import class_card with context %}
{% from "card_course_macro.html" import card_curso_macro with context %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/curso/styles.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <title>{{course["title"]}}</title>
</head>
<body>
  
    <header>
      <img src="{{ url_for('static', filename = 'imgs/LogoAsociarteBlanco.png') }}" alt="Logo de Asociarte" width="40" height="40">
      <ul class="navigation">
          <li>
          <a href="/">Inicio</a>
          </li>
          <li>
          <a href="#">1er Año</a>
          </li>
          <li>
          <a href="#">2do Año</a>
          </li>
          <li>
          <a href="#">3er Año</a>
          </li>
          <li>
          <a href="#">4to Año</a>
          </li>
          <li>
          <a class="active" href="#">5to Año</a>
          </li>
      </ul>
    </header>
  
    <div class="course-intro-section">

      <div class="course-intro-text">
        <h1>Insertar Título</h1>
      </div>

    </div>

    
    <div class="course-section" id="cartas">
      <h1>Nuestros Cursos</h1>
  
      <div class="course-cards-container">
  
        {{ card_curso_macro("1er año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","1","#128051")}}
  
        {{ card_curso_macro("2do año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","2","#129436")}}
  
        {{ card_curso_macro("3er año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","3","#128010")}}
  
        {{ card_curso_macro("4to año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","4","#129426")}}
  
        {{ card_curso_macro("5to año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","5","#129409")}}
  
      </div>
    </div> 




  <div class="u-wrapper">
    <h1 class="course-title">{{course["title"]}}</h1>    
    <p class="course-description">{{course.description}}</p>
    <div class="StudentsHome">

      <div class="InfinityScrollLayout" style="top: 0px;">
        <div class="CentralFeed">            
            {% for class in course["content"] %}
              {{ course_content(class.title, 
                  class.description,
                  class.id,
                  class.img_url,
                  class.type == "guide",
                  class.url
                  ) 
              }}
            {% endfor %}
            
        </div>
      </div>
      
      <div class="Video-promoted">
        <video width="100%" controls autoplay="autoplay" loop muted>
          <source src="/static/videos/video.mp4" type="video/mp4"></source>
        </video>
        <h1 class="Video-promoted-title">Ecuaciones de segundo grado.</h1>
        <p class="Video-promoted-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque asperiores quos consequuntur? Praesentium molestiae quasi perferendis inventore accusamus rem consectetur at dolore deserunt debitis laborum architecto, officiis placeat dolores. Ea.
        </p>
        <a href="clase/1"><button class="video-button">VER VIDEO</button></a>
      </div>

    </div>
  </div>

</body>

</html>

