{% from "macros.html" import card with context %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/game.css">
    <title></title>
</head>
<body>
  <section>
    <header>
      <a href="#" class="logo">Logo</a>
      <ul class="navigation">
          <li>
          <a class="active" href="#">Inicio</a>
          </li>
          <li>
          <a href="#">1er Año</a>
          </li>
          <li>
          <a href="#">2do Año</a>
          </li>
          <li>
          <a href="#">3er Año</a>
          </li>
          <li>
          <a href="#">4to Año</a>
          </li>
          <li>
          <a href="course/5">5to Año</a>
          </li>
      </ul>
    </header>
  </section>
   
    <div class="u-wrapper">

    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

