{% from "navbar_macro.html" import card_curso_macro with context %}
{% from "navbar_macro.html" import footer_col3 with context %}
{% from "navbar_macro.html" import footer_col4 with context %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/css/globals.css"> -->
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='rsz_azul-modified.ico') }}">


    <title></title>
</head>
<body>
  
  <section>
    
    <header>
      <img src="static\imgs\LogoAsociarteBlanco.png" alt="Logo de Asociarte en negro" width="60" height="60">
      <ul class="navigation">
          <li>
          <a class="active" href="/">Inicio</a>
          <div></div>
          </li>
          <li>
          <a href="course/1">1er Año</a>
          <div></div>
          </li>
          <li>
          <a href="course/2">2do Año</a>
          <div></div>
          </li>
          <li>
          <a href="course/3">3er Año</a>
          <div></div>
          </li>
          <li>
          <a href="course/4">4to Año</a>
          <div></div>
          </li>
          <li class="li5to">
          <a href="course/5">5to Año</a>
          </li>
      </ul>
      <label id="menudesplegable">
        <i class="fas fa-bars"></i>
      </label>
    </header>
  </section>
   
    <div class="intro">

    <div class="imgintro">
    <img src="static\imgs\introfoto.png" alt="Logo de estudiantes">
    </div>

    <div class="divintro">
      <span>Aprende con nosotros</span>
      <span>Aprende con</span>
      <span class="tituloasociarte">Asociarte</span>

      <a href="#anchorcards" class="botoncursos">¡Explora nuestros cursos!</a>

      <a href="#anchorcards" class="flechadown">
        <span></span>
        <span></span>
        <span></span>
      </a>

     </div>
    </div>


    <div class="anchorcards" id="anchorcards"></div>


    <div class="cartas" id="cartas">
      <div class="contenedorcartas">

        {{ card_curso_macro("1er año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","ano1","#128051")}}

        {{ card_curso_macro("2do año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","ano2","#129436")}}

        {{ card_curso_macro("3er año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","ano3","#128010")}}

      </div>
    </div>

    <div class="cartas2">
      <div class="contenedorcartas2">

        {{ card_curso_macro("4to año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","ano4","#129426")}}

        {{ card_curso_macro("5to año","Este es un párrafo de prueba solo estoy llenando este espacio a ver qué sale","ano5","#129409")}}

      </div>
    </div>


  
    <footer class="footer" id="footer">
      <div class="contenedorfooter">
        <div class="rowfooter">

          {{ footer_col3("Compañía", "Acerca De Nosotros", "Nuestros Servicios", "Políticas") }}
          
          {{ footer_col4("Ayuda", "FAQ", "Qué", "Otros", "Aspectos") }}
          
          {{ footer_col4("Tienda Online", "Esta", "Empresa", "Crece", "Rápido") }}

          <div class="footer-col">
            <h4>Contáctanos</h4>
            <div class="redessociales">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>

          </div>
        </div>
      </div>
   </footer>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../static/js/homepage.js"></script>
<script>
$(document).ready(function(){
  $('#menudesplegable').click(function(){
    $('ul').toggleClass('show');
  });
});
</script>
<script>
  $(".divintro a").on("click", function (e) {
  // 1
  e.preventDefault();
  // 2
  const href = $(this).attr("href");
  // 3
  $("html, body").animate({ scrollTop: $(href).offset().top }, 800);
});
</script>
</body>
</html>

