<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-witdth", initial-scale=1.0>
    <title>Quiz Quinto Año</title>
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/play/styles.css">
    <!-- FontAwesome CDN Link for Icons-->
    <script src="https://kit.fontawesome.com/a744fd5eb3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Start Quiz Button -->
    <div class="start_btn"><button>Empezar Prueba</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info_tittle">
            <span>Algunas reglas antes de empezar:</span>
        </div>
        <div class="info_list">
            <div class="info">1. Una vez que selecciones una respuesta, no podras reseleccionar</div>
            <div class="info">2. No puedes salir del quiz una vez empezado</div>
            <div class="info">3. En base a tus respuesta, vas a obtener diferentes puntos</div>
        </div>
        <div class="buttons">
            <button class="quit">Salir del Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>

    <!-- Quix Box-->
    <div class="quiz_box">
        <header>
            <div class="tittle">Quiz de quinto año</div>
        </header>
        <section>
            <div class="que_text">
                <span>¿Quien descubrio America?</span>
            </div>
            <div class="option_list">
                <div class="option">
                    <span>Cristobal Colon</span>
                    <div class="icon tick"><i class="fas fa-check-square"></i></div>
                </div>
                <div class="option">
                    <span>Luis Sanchez</span>
                    <div class="icon cross"><i class="far fa-times-circle"></i></div>
                </div>
                <div class="option">
                    <span>Mariana Centripetto</span>
                    <div class="icon cross"><i class="far fa-times-circle"></i></div>
                </div>
                <div class="option">
                    <span>Viviana Morao</span>
                    <div class="icon cross"><i class="far fa-times-circle"></i></div>
                </div>
            </div>
        </section>

        <!-- Quiz Box Footer-->
        <footer>
            <div class="total_que">
                <span><p>2</p>de<p>5</p><p>Preguntas</p></span>
            </div>
            <button class="next_btn">Siguiente Pregunta</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">Haz compleatado el quiz!</div>
        <div class="score_text">
            <span>lo sentimos, solo obtuviste <p> 2 </p> preguntas de <p> 5 </p> </span>
        </div>
        <div class="buttons">
            <button class="restart">Rehacer el quiz</button>
            <button class="quit">Quitar el quiz</button>
        </div>
    </div>


</body>
</html>