{% macro footer_col3(titulo, li1, li2, li3) %}

<div class="footer-col">
  <h4>{{titulo}}</h4>
  <ul>
    <li><a href="#">{{li1}}</a></li>
    <li><a href="#">{{li2}}</a></li>
    <li><a href="#">{{li3}}</a></li>
  </ul>
</div>

{% endmacro %}

{% macro footer_col4(titulo, li1, li2, li3, li4) %}

<div class="footer-col">
  <h4>{{titulo}}</h4>
  <ul>
    <li><a href="#">{{li1}}</a></li>
    <li><a href="#">{{li2}}</a></li>
    <li><a href="#">{{li3}}</a></li>
    <li><a href="#">{{li4}}</a></li>
  </ul>
</div>

{% endmacro %}