<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    
    <h1>{{quiz.title}}</h1>

        <form action="/quiz/{{quiz.id}}/submit", method="post">

            {% for question in questions_list %}
                <h4>
                    {{question.question}}<br>
                    <input type="radio" name="{{question.q_id}}" value="{{question.option1}}" required> {{question.option1}}
                    <input type="radio" name="{{question.q_id}}" value="{{question.option2}}" required> {{question.option2}}
                    <input type="radio" name="{{question.q_id}}" value="{{question.option3}}" required> {{question.option3}}
                    <input type="radio" name="{{question.q_id}}" value="{{question.option4}}"> {{question.option4}}
                </h4>
            {% endfor %}
            
            
        
            <br><br>
            <input type="submit" name="submitform" value="Submit">
        </form>


</body>
</html>