{% from "course_macros.html" import class_card with context %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/video_player.css">
    <link rel="stylesheet/less" type="text/css" href="/static/css/video_player.less" />

    <title>{{class_num}}. {{class_title}}</title>
</head>
<body>
    <div class="u-wrapper">

        <div class="VideoPlayer_Main">

            <div class="video-content">
                <div class="video"> 
                    <iframe
                        src="https://www.youtube.com/embed/6c79IBiss1o" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <h1 class="class_title">{{class_title}}</h1>
                <hr>
                <p class="class_description" style="text-overflow: clip;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ad blanditiis facere ipsa neque, dolores ratione nam praesentium qui voluptatem? Odit animi cupiditate provident eveniet nesciunt assumenda a exercitationem repellendus!
                </p>
            </div>
            <div class="ClassList">
                <h1 class="ClassList_Title">Lista de clases</h1>
                <div class="InfinityScrollLayout" style="top: 0px;">
                    <div class="CentralFeed">            
                        {% for class in classes_list %}
                          {{ class_card(class.title, 
                              class.subtitle,
                              class.img_link
                              ) 
                          }}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>


<script src="/static/js/video_player.js"></script>

</body>

</html>

