{% from "course_macros.html" import course_content with context %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/video_player.css">
    <link rel="stylesheet" href="/static/css/curso/styles.css">
    <link rel="stylesheet" href="/static/css/navbar.css">

    <title>{{video_class.title}} - Asociarte</title>
</head>
<body>
    <div class="u-wrapper">

        <div class="VideoPlayer_Main">

            <div class="video-content">
                <div class="video"> 
                    <iframe
                        src="https://www.youtube.com/embed/6c79IBiss1o" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <h1 class="class_title">{{video_class.title}}</h1>
                <hr>
                <p class="class_description" style="text-overflow: clip;">
                    {{video_class.description}}
                </p>
            </div>
            <div class="ClassList">
                <h1 class="ClassList_Title">Lista de clases</h1>
                <div class="InfinityScrollLayout" style="top: 0px;">
                    <div class="CentralFeed">            
                        {% for content in course.content %}
                          {{ course_content(content.title, 
                                content.description,
                                content.id,
                                content.img_url,
                                content.type == "guide",
                                content.url
                              ) 
                          }}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>


<!-- <script src="/static/js/video_player.js"></script> -->

</body>

</html>

