*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    height: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    /*background-color: rgba(252, 252, 252, 0.87);*/
    background: linear-gradient(357deg, rgb(108, 208, 255), rgba(0,0,255,.8) 70.71%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.card {
    /*flex: 1 1 20rem;*/
    display: flex;
    align-items: center;
    margin: 10px 15px;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(59, 160, 255, 0.918);
    padding: 10px 20px;
    align-self: normal;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.952);
    text-align: left; 
}

.card .btn{
    display: inline-block;
    margin-top: auto;
    background-color: rgb(0, 166, 243);
    color: #fff;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card h2{
    color: rgba(51,28,84,33);

}

.card h4{
    color: #242929;
}
