<!DOCTYPE html>
<html lang= "es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devide-device", initial-scale=1.0>
        <title>Pagina principal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleQuiz.css') }}">
    </head>
<body>

    <div class="container">

        <!-- El mejor tamaño para las imagenes es 225x225 -->
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <img src="{{ user_image1 }}" alt="">
                    <div class="titleContainer">
                        <h4>Castellano y lengua</h4>
                    </div>
                    <p>3 preguntas </p>
                    <form action="#", method="post">
                        <input class="btn" type="submit" name="submit_button" value="castellano">
                    </form>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <img src="{{ user_image2 }}" alt="">
                    <div class="titleContainer">
                        <h4>Matemática</h4>
                    </div>
                    <p>3 preguntas </p>
                    <form action="#", method="post">
                        <input class="btn" type="submit" name="submit_button" value="matematica">
                    </form>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <img src="{{ user_image3 }}" alt="">
                    <div class="titleContainer">
                        <h4>Física</h4>
                    </div>
                    <p>3 preguntas </p>
                    <form action="#", method="post">
                        <input class="btn" type="submit" value="Hacer quiz">
                    </form>
                </div>
            </div>
    
        </div>

        <div class="row">
            <div class="card">
                <div class="card-body">
                    <img src="{{ user_image4 }}" alt="">
                    <div class="titleContainer">
                        <h4>Quimica</h4>
                    </div>
                    <p>3 preguntas </p>
                    <form action="#", method="post">
                        <input class="btn" type="submit" value="Hacer quiz">
                    </form>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <img src="{{ user_image5 }}" alt="">
                    <div class="titleContainer">
                        <h4>Biologia</h4>
                    </div>
                    <p>3 preguntas </p>
                    <form action="#", method="post">
                        <input class="btn" type="submit" value="Hacer quiz">
                    </form>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <img src="{{ user_image6 }}" alt="">
                    <div class="titleContainer">
                        <h4>Historia</h4>
                    </div>
                    <p>3 preguntas </p>
                    <form action="#", method="post">
                        <input class="btn" type="submit" value="Hacer quiz">
                    </form>
                </div>
            </div>
    
        </div>



        </div>
        
    </div>
    
</body>
</html>